# boolean means either return 0 or 1 takes vause as True or False

In [2]:
raining_today=False #assignment operator takes values from rightside(expression) and assign to left variable name

In [3]:
raining_today

False

In [5]:
type(raining_today) # tells the type of the variable

bool

#Integer data types negative, posyive whole numbers

In [6]:
Student_count=74

In [7]:
Student_count

74

In [30]:
print(Student_count)

74

In [41]:
Student_count=42 #Student_count gets new memory loction previous one would by deleted by garbage collector

In [42]:
print(Student_count)

42

In [9]:
type(Student_count)

int

#float type: negative and real positive number

In [10]:
stock_price=20.34
print(stock_price)

20.34

In [11]:
type(stock_price)

float

# String Type: sequence of characters

In [12]:
Current_status="All is well"

In [13]:
print(Current_status)

All is well

In [14]:
type(Current_status)

str

# List: sequence or collection of heterogenious items but it is mutable

In [21]:
Student_name=["Aziz", "Ahmed", "Hamza", 20, 20.5]

In [22]:
print(Student_name)

['Aziz', 'Ahmed', 'Hamza', 20, 20.5]

In [23]:
type(Student_name)

list

In [24]:
list_of_variables=[Student_count, raining_today, stock_price]

In [25]:
print(list_of_variables)

[74, False, 20.34]

In [26]:
type(list_of_variables)

list

# Tuple: same as list but immutable

In [27]:
cities_to_visit=("London", "Birmingham", "Sandwell")

In [28]:
print(cities_to_visit)

('London', 'Birmingham', 'Sandwell')

In [29]:
type(cities_to_visit)

tuple